*{
    margin: 0;
    padding: 0;
}
#home-screen{
    text-align: center;
}

#welcome-text{
    margin: 0;
    padding: 0;
}

#change-bg-color{
    color: brown;
    margin-top: 3%;
}

.jura-body {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.racing-sans {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-img{
    display: block;
    /*      TB  LR */
    margin: 0px auto;
    width: auto;
    max-width: auto;
}
.queen-img{
    display: block;
    /*      TB  LR */
    margin: 0px auto;
    width: auto;
    max-width: auto;
}
.arbenz-img{
    display: block;
    /*      TB  LR */
    margin: 0px auto;
    width: auto;
    max-width: auto;
}
.lumumba-img{
    display: block;
    /*      TB  LR */
    margin: 0px auto;
    width: auto;
    max-width: auto;
}
.allende-img{
    display: block;
    /*      TB  LR */
    margin: 0px auto;
    width: auto;
    max-width: auto;
}
.mugshot-img{
    display: block;
    /*      TB  LR */
    margin: 0px auto;
    width: auto;
    max-width: auto;
}


body{
    margin:0;
    padding: 0;
    background-color: none;
}
.main_container{
    margin: 6% 0 0 36%;
    position: relative;
    width: 25%;
}

h1{
    width: 100%;
    margin-top: 30%;
    color:white;
    font-size: 4.5vw;
    position: absolute;
    text-align: left;
    font-family: 'Racing Sans One', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Jura', sans-serif;
    color: white;
    font-size: 1.2vw;
    margin: 60% 0 0 18%;
    width: 70%;
    letter-spacing: 5px;
    line-height: 1.5em;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


style {
    display: inline-block;
    font: 700 18px/1.5 Jura, "Racing Sans One", Monospace;
    white-space: pre-wrap;
    padding: 3rem;
  }
  
.wrap {
    border: 5px solid red;
    padding: 1rem;
    height: 50vh;
    > style {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
body {
    margin: 2px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
* {
    box-sizing: border-box;
  }
  
.child {
    background: blue;
    opacity: 0.6;
    position: fixed;
    top: 60%;
    right: -25px;
}
.child:hover {
    opacity: 0.6;
  }


.text {
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}


:root {
    --button-padding: 1em;
    --space-for-arrow: 2em;
  }
  
  /* Move it away from the edge to make it easier to see */
  body {
    margin: 0px;
  }
  
  button {
    position: relative;
    padding-block: .5em; /* top and bottom padding */
    padding-inline-start: var(--space-for-arrow); /* left padding */
    padding-inline-end: var(--button-padding); /*right padding */
    border: none;
    border-radius: .25em;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
    transition: padding 250ms ease, background-color 250ms ease;
  }
  
  button::before {
    position: absolute;
    content: '->';
    background-size: 1em;
    inset-block-start: 50%;
    inset-inline-start: .25em;
    transform: translateY(-50%);
    padding: .25em;
    border-radius: 50%;
    background-color: red;
    line-height: 1;
    transition: inset-inline-start 250ms ease;
  }
  
  button:hover {
    padding-inline-start: var(--button-padding);  /* left padding */
    padding-inline-end: var(--space-for-arrow);  /* right padding */
    background-color: red;
  }
  
  button:hover::before {
    inset-inline-start: calc(100% - 1.75em);
  }
  

}
